{{- $gitName := promptStringOnce . "gitName" "Git user.name" "kishimotonico" -}}
{{- $gitEmail := promptStringOnce . "gitEmail" "Git user.email" "kishimotonico@gmail.com" -}}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $isWsl := and (eq .chezmoi.os "linux") (contains "microsoft" (.chezmoi.kernel.osrelease | lower)) -}}

[data]
    gitName = {{ $gitName | quote }}
    gitEmail = {{ $gitEmail | quote }}
    osid = {{ $osid | quote }}
    isWsl = {{ $isWsl }}
{{ if $isWsl -}}
[diff]
    command = "code"
    args = ["--wait", "--diff"]
{{ end -}}
