# ~/.bashrc
# managed by chezmoi

# If not running interactively, don't do anything
case $- in
    *i*) ;;
      *) return;;
esac

HISTCONTROL=ignoreboth
HISTSIZE=100000
HISTFILESIZE=200000

shopt -s histappend
shopt -s checkwinsize

[ -x /usr/bin/lesspipe ] && eval "$(SHELL=/bin/sh lesspipe)"

test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias ll='ls -alFh'
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

if [ -f ~/.bash_aliases ]; then
  . ~/.bash_aliases
fi

if [ -f /usr/share/bash-completion/bash_completion ]; then
  . /usr/share/bash-completion/bash_completion
elif [ -f /etc/bash_completion ]; then
  . /etc/bash_completion
fi

# 履歴検索
# https://qiita.com/wankoromaru/items/92a85bd84bb3e3a08c71
bind '"\e[B": history-search-forward'     # 下矢印キー
bind '"\e[A": history-search-backward'    # 上矢印キー
if [ -f /usr/share/doc/fzf/examples/key-bindings.bash ]; then
  source /usr/share/doc/fzf/examples/key-bindings.bash
fi

# エイリアス
alias ghcs="gh copilot suggest -t shell"
alias dc="docker compose"

# AWS CLI
if command -v aws_completer > /dev/null 2>&1; then
    complete -C "$(command -v aws_completer)" aws
fi

if [ -f "$CHEZMOI_SCRIPT_DIR/set_aws_profile.sh" ]; then
    source "$CHEZMOI_SCRIPT_DIR/set_aws_profile.sh"
    alias awsp=set_aws_profile
    alias awsq=set_aws_profile
fi

# mise
eval "$(mise activate bash)"
eval "$(mise completions bash --include-bash-completion-lib)"

# Starship
eval "$(starship init bash)"

# zoxide
eval "$(zoxide init bash)"

# rye (廃止予定)
if [ -f "$HOME/.rye/env" ]; then
  source "$HOME/.rye/env"
fi

# sheldon
if [ -f "$HOME/.local/bin/sheldon" ]; then
  eval "$($HOME/.local/bin/sheldon source)"
fi

{{ if .isWsl -}}
# WSL固有設定
alias explorer="explorer.exe"
alias clip="clip.exe"
alias xdg-open=wsl-open

if [ -f "$CHEZMOI_SCRIPT_DIR/set_aws_saml_login.sh" ]; then
    source "$CHEZMOI_SCRIPT_DIR/set_aws_saml_login.sh"
    alias awssaml=set_aws_saml_login
fi

{{ end -}}

# xdg-ninja
alias wget="wget --hsts-file=$XDG_DATA_HOME/wget-hsts"
